/* Styles.css */

.header, .footer {
    background-color: #1F2937;
    color: white;
    display:flex;
    flex-direction:column;
    padding-left: 80px;
    padding-right:80px;
}

.footer {

        align-items: center;
}

.awesome {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
    
}

.sub1 {
    font-size:18px;
    color:#e5e7eb;
}

.top {
    display:flex;
    justify-content:space-between;
}

.footer {
    padding:15px;
    font-size: 10px;
}

.bottom {
    display:flex;
}

.information {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;

}
.square {
    display:flex;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

.bluebox {
    background-color: #3882f6;
    padding:15px;
}

.action {

    padding:40px;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color:white;
    margin: 0 15px;
}

.links {
    flex-grow:1;
    text-align: right;
    justify-content: space-around;
   
}

.logo {
   flex-grow:1;
}


